body {
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.small-container{
    display: flex;
    flex-direction: row; 

}
.cover-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cover-container-2{
    margin: 20px;
}

.container {
    width: 640px;
    border: 70px solid #adefd1ff;
    height: 320px;
    border-radius: 10px;
    overflow: hidden;
}

p {
    float: left;

}

.container-2 {
    width: 200px;
    height: 400px;
    background-color: #adefd1ff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.big-box{
    width: 150px;
    height: 50px;
    background-color: #00203fff;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    margin: 0 ;
    padding: 0;
}
.sizes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.padding{
    padding-bottom: 10px;
}
.copyright{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(255,255,255,0.7); 
}
  
  /* Modal Content/Box */
  #modal-content {
    background-color: #00203fff;
    height: 20vh;
    border: 1px solid transparent;
    width: 80%; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }